language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"

install:
  - "pip install --use-mirrors -r requirements.txt"

script:
  - py.test tests

notifications:
  email:
    - nineseconds@yandex.ru

matrix:
  allow_failures:
    - python: "pypy3"